@media screen and (max-width :767px) {

    .header{
        width: 300px;
    }

    .green{
        width: 100px;       
    }
    
    .pink{
        width: 75px;
        margin-left: 125px;
    }
    
    .yellow{
        width: 125px;
        margin-left: 100px;
    }
    
    .blue{
        width: 125px;
        margin-left: 100px;
    }
    
    .red{
        width: 200px;
        margin-left: 100px;
    }
    
    .footer{
        width: 300px;
    }
}